html{
    /* 10px/16px = 0.625= 62.5% */
    font-size: 62.5%;

    font-family: 'Public Sans', sans-serif;
}

/* headings */

h1{
    font-size: 3.6rem;
    font-weight: 500;
}

h2{
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

h3{
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0;
}



/* header */


.main-nav{
    margin: 0 7rem;
    padding: 2.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.main-nav-all-links{
    font-size: 1.8rem;
    display: flex;
    gap: 1.8rem;
    transition: all 0.3s;
}

li {
    list-style: none;
}

.main-nav-all-links a{
    color: hsl(240, 1%, 55%);
    text-decoration: none;
    transition: all 0.3s;
}

a:hover{
    cursor: pointer;
    color: hsl(233, 26%, 24%);
}


.main-btn{
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    color: white;
    background: none;
    border: none;
    padding: 1.2rem 3.2rem;
    background-image: linear-gradient( to right ,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border-radius: 3.2rem;
    transition: all 0.3s;
}

.main-btn:hover{
    opacity: 0.7;
}

.mobile-nav-btn{
    display: flex;
    align-items: center;
    z-index: 200;
    display: none;
}

.mobile-nav-btn button{
    background: none;
    border: none;
    cursor: pointer;
}

.close-icon{
    display: none;
}



/* section 1 */

.sec-1{
    background-color: hsl(0, 0%, 98%);
    height: 55rem;
    background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: top -20rem right -20rem;
}

.section1{
    margin-left: 7rem;
    padding-left: 3rem;
    display: flex;
    justify-content: space-between;
    height: 120%;
}

.section1-des{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.des{
    padding: 2.4rem 0;
    font-size: 1.4rem;
    line-height: 1.5;
    color: hsl(233, 26%, 24%);
}

.mobiles-image{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



.mobiles-image img{
    width: 100%;
    height: 115%;
    transform: translate(17% , -5%);
}


/* section 2 */


.sec-2{
    background-color: hsl(220, 16%, 96%);
    line-height: 1.5;
}
.section2{
    margin: 0 7rem;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
}

.sec-des-div{
    font-size: 1.4rem;
    width: 50%;
}

.about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box{
    padding: 1rem;
    width: 27rem;
}

.icon{
    margin: 1.5rem 0;
    width: 6rem;
    height: 6rem;
}

.about-des{
    font-size: 1.3rem;
    margin: 1rem 0;
}

/* section-3 */

.sec-3{
    background-color: hsl(0, 0%, 98%);
}

.section3{
    margin: 0 7rem;
    padding: 3rem 3rem;
}

.cards-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    width: 27rem;
}

.card img{
    width: 100%;
    height: 50%;
}

.brief-des{
    padding: 1.5rem;
}

.author-name{
    font-size: 1.3rem;
    margin: 1rem 0;
}

.article-heading{
    color: inherit;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all 0.3s;
}

.article-heading:hover{
    color: hsl(136, 65%, 51%);
}

.brief-des p {
    line-height: 1.5;
    font-size: 1.3rem;
    margin: 1rem 0;
}

/* footer */

footer{
    background-color: hsl(233, 26%, 24%);
    color: white;
    height: 15rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 7rem;
    padding: 3rem 3rem;
}

.grouper{
    display: flex;
    gap: 6rem;
}

.footer-sec1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links{
    display: flex;
    gap: 6rem;
}

.footer-links div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-links a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.footer-links a:hover{
    color: hsl(136, 65%, 51%);
}


.socila-media{
    display: flex;
    gap: 1.5rem;
}

.socila-media a:hover{
    color: hsl(136, 65%, 51%);
    fill: hsl(136, 65%, 51%);
}

.copyright{
    margin: 1rem 0;
    font-size: 1.3rem;
}

.attribution a{
    font-size: 1.3rem;
    text-decoration: none;
    color: white; 
}

@media(max-width:1010px){
    html{
        font-size: 56.25%;
    }
}

@media(max-width:910px){
    html{
        font-size: 56.25%;
    }

    .main-nav{
        margin: 0 3rem;
        padding: 2.5rem 1rem;
        height: 8rem;
    }

    .section1{
        margin-left: 3rem;
        padding-left: 2rem;
    }

    .section2,.section3{
        margin: 0 3rem;
        padding: 2rem 2rem;
    }


    .footer{
        margin: 0 3rem;
        padding: 2rem 2rem;
    }

    .section1-des{
        width: 50%;
    }
}

.hidden-nav{
    display: none;
}

.show-nav{
    display: block;
}
/* tab */

@media(max-width:820px){

    html{
        text-align: center;
    }
    .cont-main{
        display: flex;
        flex-direction: column;
    }
    .main-nav-all-links{
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.97);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50vh;
        /* position: absolute; */
        top: 0;
        left: 0;

        /* opacity: 0; */
        pointer-events: none;
    }
    .top{
        visibility: hidden;
    }
    .nav-active{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    .nav-active .close-icon{
        display: block;
    }

    .mobile-nav-btn{
        display: block;
    }

    .hidden{
        display: none;
    }

    .section1{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .mobiles-image{
        order: -1;
    }
    
    .mobiles-image img{
        transform: translate(0% , -10%);
    }

    .section1{
        margin: 0 2rem;
        padding: 0 1.5rem;
        padding-bottom: 2rem;
    }

    .section1-des{
        width: 100%;
    }
    
    .section2,.section3{
        margin: 0 2rem;
        padding: 1.5rem 1.5rem;
    }

    .sec-des-div{
        width: 100%;
    }

    .section2{
        align-items: center;
    }

    .about{
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-evenly;
    }

    .cards-section{
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-evenly;
        gap: 1.5rem;
    }

    .card{
        height: auto;
    }

    footer{
        height: auto;
    }

    .footer{
        flex-direction: column;
        gap: 2rem;
    }

    .footer-sec1{
        gap: 2rem;
    }

    .grouper{
        flex-direction: column;
        gap: 2rem;
    }

    .footer-links{
        flex-direction: column;
        gap: 1rem;
    }

    .sec-1{
        height: auto;
        background-image: none;
    }

    .mobile-nav-btn{
        display: block;
    }
}